# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.memoryMatch.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Wolf\Source\repos\memoryMatch\.idea\.idea.memoryMatch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
